@import url('https://fonts.googleapis.com/css?family=Audiowide');
* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #99738E;
}

body {
    font-family: sans-serif;
}

.show {
    display: block;
}

.opoff {
    opacity: 0;
}

.opOn {
    opacity: 1;
    transition: opacity 10s;
}

.hide {
    display: none;
}

#wrapper {
    display: flex;
    justify-content: space-between;
    background-color: #99738E;
}

.aside {
    width: 30%;
    background-color: #553d67;
    border-left: black 2px solid;
    border-right: black 2px solid;
    border-bottom: black 2px solid;
    padding-top: 1em;
    padding-left: 1.5em;
    border-radius: 5px;
    transition: width 2s;
}

.minimize {
    width: 5%;
    transition: width 2s;
}

#chat {
    width: 65%;
}

h1 {
    padding-top: .5em;
    padding-left: 1em;
    padding-bottom: .5em;
    background-color: #242582;
    color: white;
    border: black 2px solid;
    border-radius: 5px;
    font-family: 'Audiowide', cursive;
}

aside h2 {
    color: white;
    margin-bottom: 1em;
}

aside input[type="text"] {
    border: black solid 1px;
    width: 80%;
    height: 35px;
    font-size: 1.2em;
    margin-bottom: 1em;
}

aside input[type="button"] {
    background-color: #242582;
    border: 2px solid #f64c72;
    width: 50%;
    height: 35px;
    color: white;
    font-weight: bold;
}

aside input[type="button"]:hover {
    opacity: .5;
}

.disappear h2 {
    border: black solid 2px;
    width: 95%;
    margin-top: .5em;
    border-radius: 5px;
    padding: .5em;
    margin-bottom: .5em;
    color: white;
    background-color: #242582;
}

.disappear h2:hover {
    opacity: .5;
}

section section input {
    width: 25%;
    display: block;
    height: 35px;
    background-color: #242582;
    border: 2px solid #f64c72;
    color: white;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4em;
}

section section input:hover {
    opacity: .5;
}

.post-container {
    /* border: 1px black solid; */
    padding: .5em;
    margin-bottom: 1em;
    width: 96%;
    font-weight: bolder;
}

.post-container p {
    background-color: white;
    padding: 1em;
    border-radius: 5em;
    margin-top: .5em;
    font-weight: normal;
}

textarea {
    width: 75%;
    height: 60px;
    font-size: 1.4em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 1em;
}

.flex {
    display: flex;
    justify-content: space-between;
    width: 95%;
}

#ham {
    color: white;
    font-size: 1.4em;
    display: block;
    float: right;
    margin-right: 1em;
}

#ham:hover {
    opacity: .5;
    cursor: pointer;
}

.swap {
    animation-name: swap-color;
    animation-duration: 2s;
}

.new {
    animation-name: new;
    animation-duration: 25s;
}

.swap:hover {
    animation-name: swap-color;
    animation-duration: 2s;
}

#welcome {
    animation-name: welcome;
    animation-iteration-count: 2;
    animation-duration: 2s;
}

@keyframes swap-color {
    0% {
        background-color: #242582;
    }
    25% {
        background-color: #f64c72;
    }
    50% {
        background-color: #242582;
    }
    75% {
        background-color: #f64c72;
    }
    100% {
        background-color: #242582;
    }
}

@keyframes new {
    0% {
        background-color: orangered;
        color: blue;
        font-size: 2em;
    }
    25% {
        background-color: orangered;
        color: blue;
        font-size: 1.5 em;
    }
    50% {
        background-color: orangered;
        color: blue;
        font-size: 1 em;
    }
    75% {
        color: blue;
        font-size: 1 em;
    }
    100% {
        color: black;
    }
}

@keyframes welcome {
    0% {
        transform: rotate(2deg);
    }
    25% {
        transform: rotate(-4deg)
    }
    50% {
        transform: rotate(2deg)
    }
    75% {
        transform: rotate(-4deg)
    }
    100% {
        transform: rotate(2deg)
    }
}