canvas {
    border: 1px solid black;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

button {
    width: 75px;
    font-size: 2em;
    background-color: black;
    color: white;
}

body {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    background-color: gray;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    color: red;
    text-shadow: 2px 2px black;
}

div {
    text-align: center;
    width: 240px;
    margin-left: auto;
    margin-right: auto;
    background-color: red;
    padding: 2em;
    border-radius: 500px;
    border: 2px solid black;
    margin-top: 2em;
}

p {
    text-align: center;
    color: blue;
    text-shadow: 1px 1px black;
    font-size: 1.2em;
}